<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }} Profile</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Followers: {{ followers_count }} | Following: {{ following_count }}</p>
    {% if session['user_id'] != user.id %}
        {% if is_following %}
            <a href="/unfollow/{{ user.id }}">Unfollow</a>
        {% else %}
            <a href="/follow/{{ user.id }}">Follow</a>
        {% endif %}
    {% endif %}
    <hr>
    {% for post in posts %}
        {% include 'post_card.html' %}
    {% endfor %}
</body>
</html>